{% extends 'layout.html' %}
{% block title %}Your Shopping Cart{% endblock %}
{% block header %}Your Shopping Cart{% endblock %}

{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th class="text-right">Price</th>
			<th class="text-right">Qty</th>
			<th class="text-right">Total</th>
		</tr>
	</thead>
	<tbody>
		{% set grandtotal = 0 %}
		{% for code, qty in cart %}
			{% set product = products[code] %}
			{% set total = product.price * qty %}
			{% set grandtotal = grandtotal + total %}
			<tr>
				<td><a href="/product/{{code}}">{{product.name}}</a> {{product.unit}}</td>
				<td class="text-right">${{product.price|number_format(2,'.',',')}}</td>
				<td class="text-right">{{qty}}</td>
				<td class="text-right">${{total|number_format(2,'.',',')}}</td>
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th></th>
			<th></th>
			<th class="text-right">Total</th>
			<th class="text-right">${{grandtotal|number_format(2,'.',',')}}</th>
		</tr>
	</tfoot>
</table>

<form action="#" method="POST" class="pull-right">
	<button type="submit" class="btn btn-primary">
		Complete Order
		<span class="glyphicon glyphicon-ok"></span>
	</button>
</form>

<form action="/clear-cart" method="POST">
	<button type="submit" class="btn btn-default">
		Empty Cart
		<span class="glyphicon glyphicon-remove-circle"></span>
	</button>
</form>

{% endblock %}