<!DOCTYPE html>
<html>
<head>
	<title>Awesome Ordering System - {% block title %}Products{% endblock %}</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
</head>
<body class="container">
	<div class="navbar navbar-default">
		<div class="navbar-header">
			<div class="navbar-brand">{% block header %}Products{% endblock %}</div>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
			<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
		</ul>
	</div>

	<div class="content">
		{% block content %}{% endblock %}
	</div>

</body>
</html>