{% extends 'layout.html' %}
{% block title %}Available Products{% endblock %}
{% block header %}Available Products{% endblock %}

{% block content %}
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Unit</th>
		</tr>
	</thead>
	<thead>
		{% for code, product in products %}
			<tr>
				<td><a href="/product/{{code}}">{{product.name}}</a></td>
				<td>${{product.price|number_format(2,'.',',')}}</td>
				<td>{{product.unit}}</td>
			</tr>
		{% endfor %}
	</thead>
</table>
{% endblock %}

{% block footer %}
	<a href="/cart">Shopping Cart</a>
{% endblock %}
