{% extends 'layout.html' %}
{% block title %}Available Products{% endblock %}
{% block header %}Available Products{% endblock %}

{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th class="text-right">Price</th>
			<th>Unit</th>
		</tr>
	</thead>
	<tbody>
		{% for code, product in products %}
			<tr>
				<td><a href="/product/{{code}}">{{product.name}}</a></td>
				<td class="text-right">${{product.price|number_format(2,'.',',')}}</td>
				<td>{{product.unit}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
